In [1]:
import pandas as pd
import os

In [2]:
hawkercentre = pd.read_csv('hawker-centres-kml.csv')
hawkercentre.head(5)

,X,Y,Name,description,ADDRESSBLOCKHOUSENUMBER,LATITUDE,STATUS,CLEANINGSTARTDATE,ADDRESSUNITNUMBER,ADDRESSFLOORNUMBER,...,ADDRESSBUILDINGNAME,COMPLETION_DATE,LANDXADDRESSPOINT,ADDRESSSTREETNAME,ADDRESSPOSTALCODE,DESCRIPTION_MYENV,IMPLEMENTATION_DATE,ADDRESS_MYENV,INC_CRC,FMEL_UPD_D
0,103.882978,1.375429,Ci Yuan Hawker Centre,New Centre,51,1.374938,Existing (new),2/9/2019,NaN,NaN,...,NaN,2015,33526.48,Hougang Avenue 9,538776.0,"Built in 2015, Ci Yuan hawker centre is the fi...",NaN,"51 Hougang Avenue 9, Singapore 538776",2AA90E9C1246F8A3,20190821083118
1,103.759166,1.311890,West Coast Drive Blk 502 (Ayer Rajah Market),Not eligible for HUP,502,1.311960,Existing,24/9/2019,NaN,NaN,...,NaN,NaN,19747.53,West Coast Drive,120502.0,"Also known as Ayer Rajah Market, the standalon...",NaN,"Blk 502, West Coast Drive, Singapore 120502",2DBB0A9FF06FDAA2,20190906090220
2,103.759751,1.311803,West Coast Drive Blk 503 (Ayer Rajah Food Centre),HUP Standard Upgrading,503,1.311870,Existing,24/9/2019,NaN,NaN,...,NaN,15/12/2002,19812.66,West Coast Drive,120503.0,"Also known as Ayer Rajah Food Centre, the stan...",NaN,"Blk 503, West Coast Drive, Singapore 120503",7A2798344B6AD8F0,20190906090220
3,103.935539,1.320552,Bedok South Road Blk 16,HUP Standard Upgrading,16,1.320560,Existing,10/6/2019,NaN,NaN,...,NaN,20/9/2012,39376.14,Bedok South Road,460016.0,"Located near schools, factories and housing es...",NaN,"Blk 16, Bedok South Road, Singapore 460016",483F3877E1D079FE,20190902094919
4,103.951543,1.373434,Pasir Ris Central Hawker Centre,New Centre,110,1.373318,Existing (new),19/8/2019,NaN,NaN,...,Pasir Ris Central Hawker Centre,2017,41156.94,Pasir Ris Central,519641.0,"Completed in Jan 2018, Pasir Ris Central Hawke...",29/7/2015,"Blk 110, Pasir Ris Central, Singapore 519641",0EC198F94A578B81,20190719092119

In [3]:
new_hawkercentre = hawkercentre[['Name', 'LATITUDE', 'LONGITUDE', 'description', 'STATUS', 'NO_OF_FOOD_STALLS',
                                 'REGION', 'NO_OF_MARKET_STALLS']]
new_hawkercentre['type'] = 'hawkercentre'
new_hawkercentre.head(5)

C:\Users\Kelve\AppData\Local\Temp/ipykernel_25128/141202072.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_hawkercentre['type'] = 'hawkercentre'

,Name,LATITUDE,LONGITUDE,description,STATUS,NO_OF_FOOD_STALLS,REGION,NO_OF_MARKET_STALLS,type
0,Ci Yuan Hawker Centre,1.374938,103.882947,New Centre,Existing (new),40,North,0,hawkercentre
1,West Coast Drive Blk 502 (Ayer Rajah Market),1.311960,103.759102,Not eligible for HUP,Existing,0,West,68,hawkercentre
2,West Coast Drive Blk 503 (Ayer Rajah Food Centre),1.311870,103.759804,HUP Standard Upgrading,Existing,80,West,0,hawkercentre
3,Bedok South Road Blk 16,1.320560,103.935547,HUP Standard Upgrading,Existing,64,East,154,hawkercentre
4,Pasir Ris Central Hawker Centre,1.373318,103.951364,New Centre,Existing (new),42,East,0,hawkercentre

In [4]:
final_hawkercentre = new_hawkercentre[new_hawkercentre['LATITUDE'] > 0]

In [5]:
final_hawkercentre.to_csv('final_hawkercentre_v2.csv', index = False, sep = ',', encoding = 'utf-8')

In [6]:
parks_playgrounds = pd.read_csv('parks_playgrounds.csv')
parks_playgrounds.head(5)

                            NAME   Longitude  Latitude
0               Telok Ayer Green  103.847644  1.281465
1  Mayflower Crescent Playground  103.839569  1.372718
2     Sunrise Drive Playground 1  103.857370  1.388306
3       Elias Terrace Playground  103.941094  1.372190
4          Kew Avenue Playground  103.948451  1.321627

In [7]:
parks_playgrounds['type'] = 'parks_playgrounds'
parks_playgrounds.head(5)

                            NAME   Longitude  Latitude               type
0               Telok Ayer Green  103.847644  1.281465  parks_playgrounds
1  Mayflower Crescent Playground  103.839569  1.372718  parks_playgrounds
2     Sunrise Drive Playground 1  103.857370  1.388306  parks_playgrounds
3       Elias Terrace Playground  103.941094  1.372190  parks_playgrounds
4          Kew Avenue Playground  103.948451  1.321627  parks_playgrounds

In [8]:
final_parks_playgrounds = parks_playgrounds
final_parks_playgrounds.to_csv('final_parks_playgrounds.csv', index = False, sep = ',', encoding = 'utf-8')

In [9]:
supermarket = pd.read_csv('supermarket.csv')
supermarket.head(5)

,LIC_NAME,STR_NAME,lng,lat
0,LI LI CHENG SUPERMARKET (PUNGGOL) PTE. LTD.,PUNGGOL PLACE,103.901262,1.402303
1,SHENG SIONG SUPERMARKET PTE LTD,UPPER BOON KENG ROAD,103.870914,1.314239
2,COLD STORAGE SINGAPORE (1983) PTE LTD,HOUGANG AVENUE 8,103.886366,1.373321
3,COLD STORAGE SINGAPORE (1983) PTE LTD,BEDOK RESERVOIR ROAD,103.914942,1.332959
4,YES SUPERMARKET PTE LTD,TAMPINES STREET 21,103.953010,1.353453

In [10]:
new_supermarket = supermarket.drop(columns = 'STR_NAME')
new_supermarket['type'] = 'supermarket'
new_supermarket.head(5)

,LIC_NAME,lng,lat,type
0,LI LI CHENG SUPERMARKET (PUNGGOL) PTE. LTD.,103.901262,1.402303,supermarket
1,SHENG SIONG SUPERMARKET PTE LTD,103.870914,1.314239,supermarket
2,COLD STORAGE SINGAPORE (1983) PTE LTD,103.886366,1.373321,supermarket
3,COLD STORAGE SINGAPORE (1983) PTE LTD,103.914942,1.332959,supermarket
4,YES SUPERMARKET PTE LTD,103.953010,1.353453,supermarket

In [11]:
final_supermarket = new_supermarket
final_supermarket.to_csv('final_supermarket.csv', index = False, sep = ',', encoding = 'utf-8')

In [12]:
final_hawkercentre.count()

Name                   114
LATITUDE               114
LONGITUDE              114
description            114
STATUS                 114
NO_OF_FOOD_STALLS      114
REGION                 114
NO_OF_MARKET_STALLS    114
type                   114
dtype: int64

In [13]:
final_parks_playgrounds.count()

NAME         346
Longitude    346
Latitude     346
type         346
dtype: int64

In [14]:
final_supermarket.count()

LIC_NAME    526
lng         526
lat         526
type        526
dtype: int64